{{> partials/header}}

<h1>{{appName}} - Tasks</h1>

<ul>
  {{#tasks}}
    <li>
      <strong>{{title}}</strong> ({{course}})
      — due {{due_date}}
      {{#grade_weight}}— weight: {{grade_weight}}%{{/grade_weight}}
      {{#completed}}— Completed {{/completed}}
      {{^completed}}— Incomplete{{/completed}}
    </li>
  {{/tasks}}
</ul>

{{^tasks}}
  <p>No tasks yet</p>
{{/tasks}}

{{> partials/footer}}